.gallery {
  padding-bottom: 60px;
}

.gallery__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
}

.gallery__list {
  list-style-type: none;
}

.gallery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gallery__header .gallery__title {
  margin-bottom: 0;
}

.gallery__practice-btn {
  font: inherit;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.gallery__practice-btn:hover {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  background-blend-mode: overlay;
}

.gallery__new-card-btn {
  font: inherit;
  border: none;
  cursor: pointer;
  height: 205px;
  border-radius: 20px;
  background-color: #d9d9d9;
  color: #1a1a1a80;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

@media screen and (max-width: 600px) {
  .gallery__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
