@media screen and (max-width: 805px) {
  .gallery__new-image-btn {
    position: fixed;
    padding: 16px 24px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 353px;
    aspect-ratio: auto;
    height: auto;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    background-color: #d9d9d9;
    color: #1a1a1a;
    z-index: 2;
  }

  .page {
    padding-bottom: 100px;
  }

  .page::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 156px;
    background: linear-gradient(to bottom, transparent, #ececec 70%);
    pointer-events: none;
    z-index: 1;
  }
}
